/* ==========================================================================
   CV
   ========================================================================== */

#CV {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sub_title {
    font-size: xx-large;
    font-weight: 700;
}